.continer-lightBox {
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;


  .lightBox-img {
    z-index: 100;
    cursor: pointer;
    width: 50%;
    height: 70%;
    border-radius: 3px;
    object-fit: cover;
    box-shadow: -1px 1px 5px 1px rgb(231, 231, 231);
  }



}

.lightBox-button{
  background-color: #222;
  border: none;
}

#lightBox-i {
  border: none;
  // font-size: 200%;
  color: black;
  width: 10%;
  height: 10%;
  border: turquoise 10px solid;
}