.gallery-root {
  text-align: left;
  object-fit: cover;
  padding: 0px;
  margin: 0px;
  box-sizing: 0px;
  font-size: 0px;


}
.active{ 
  text-align: center;
  object-fit: cover;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0px;
  margin: 0px;

}

.gallery-lightBox{
  position: absolute;
  width: 100%;
  height: 100%;

 }

.gallery-header {
  background-color: #222;
  padding: 10px;
  color: white;
  font-size: 20pt;
}

.gallery-intro {
  font-size: 15pt;
}

// @media only screen and (max-width: 400px) {
//   .gallery-root{
//     margin-left: -15px;
//   }

// }